### LAB | Customer Analysis 2

In [ ]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file1=pd.read_csv("marketing_customer_analysis.csv")

In [4]:
df=pd.DataFrame()
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [6]:
df = pd.read_csv("marketing_customer_analysis.csv")
df.head()

  Customer       State  Customer Lifetime Value Response  Coverage Education  \
0  BU79786  Washington              2763.519279       No     Basic  Bachelor
1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor
2  AI49188      Nevada             12887.431650       No   Premium  Bachelor
3  WW63253  California              7645.861827       No     Basic  Bachelor
4  HB64268  Washington              2813.692575       No     Basic  Bachelor

  Effective To Date EmploymentStatus Gender  Income  ...  \
0           2/24/11         Employed      F   56274  ...
1           1/31/11       Unemployed      F       0  ...
2           2/19/11         Employed      F   48767  ...
3           1/20/11       Unemployed      M       0  ...
4            2/3/11         Employed      M   43836  ...

  Months Since Policy Inception Number of Open Complaints  Number of Policies  \
0                             5                         0                   1
1                            42                         0                   8
2                            38                         0                   2
3                            65                         0                   7
4                            44                         0                   1

      Policy Type        Policy  Renew Offer Type  Sales Channel  \
0  Corporate Auto  Corporate L3            Offer1          Agent
1   Personal Auto   Personal L3            Offer3          Agent
2   Personal Auto   Personal L3            Offer1          Agent
3  Corporate Auto  Corporate L2            Offer1    Call Center
4   Personal Auto   Personal L1            Offer1          Agent

  Total Claim Amount  Vehicle Class Vehicle Size
0         384.811147   Two-Door Car      Medsize
1        1131.464935  Four-Door Car      Medsize
2         566.472247   Two-Door Car      Medsize
3         529.881344            SUV      Medsize
4         138.130879  Four-Door Car      Medsize

[5 rows x 24 columns]

In [7]:
#show the dataframe shape
df.shape

(9134, 24)

In [8]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [9]:
#standardize header names
cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower())
cols

['customer',
 'state',
 'customer lifetime value',
 'response',
 'coverage',
 'education',
 'effective to date',
 'employmentstatus',
 'gender',
 'income',
 'location code',
 'marital status',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'policy type',
 'policy',
 'renew offer type',
 'sales channel',
 'total claim amount',
 'vehicle class',
 'vehicle size']

In [10]:
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [11]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)

In [12]:
newdf.head()

<bound method NDFrame.head of       Customer Lifetime Value  Income  Monthly Premium Auto  \
0                 2763.519279   56274                    69
1                 6979.535903       0                    94
2                12887.431650   48767                   108
3                 7645.861827       0                   106
4                 2813.692575   43836                    73
...                       ...     ...                   ...
9129             23405.987980   71941                    73
9130              3096.511217   21604                    79
9131              8163.890428       0                    85
9132              7524.442436   21941                    96
9133              2611.836866       0                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies  Total Claim Amount
0                             0                   1          384.811147
1                             0                   8         1131.464935
2                             0                   2          566.472247
3                             0                   7          529.881344
4                             0                   1          138.130879
...                         ...                 ...                 ...
9129                          0                   2          198.234764
9130                          0                   1          379.200000
9131                          3                   2          790.784983
9132                          0                   3          691.200000
9133                          0                   1          369.600000

[9134 rows x 8 columns]>

In [13]:
#columns that are categorical
categories = ['object']

newdf = df.select_dtypes(include=categories)

In [14]:
newdf.head()

<bound method NDFrame.head of      Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor            2/3/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor           2/10/11
9130  PK87824  California      Yes  Extended   College           2/12/11
9131  TD14365  California       No  Extended  Bachelor            2/6/11
9132  UP19263  California       No  Extended   College            2/3/11
9133  Y167826  California       No  Extended   College           2/14/11

     EmploymentStatus Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

            Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0     Corporate L3           Offer1         Agent   Two-Door Car      Medsize
1      Personal L3           Offer3         Agent  Four-Door Car      Medsize
2      Personal L3           Offer1         Agent   Two-Door Car      Medsize
3     Corporate L2           Offer1   Call Center            SUV      Medsize
4      Personal L1           Offer1         Agent  Four-Door Car      Medsize
...            ...              ...           ...            ...          ...
9129   Personal L1           Offer2           Web  Four-Door Car      Medsize
9130  Corporate L3           Offer1        Branch  Four-Door Car      Medsize
9131  Corporate L2           Offer1        Branch  Four-Door Car      Medsize
9132   Personal L2           Offer3        Branch  Four-Door Car        Large
9133  Corporate L3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]>

In [15]:
#check and deal with NaN values
count_nan_in_df = df.isnull().sum()
print (count_nan_in_df)

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [16]:
df.loc[:, ["Effective To Date"]]

     Effective To Date
0              2/24/11
1              1/31/11
2              2/19/11
3              1/20/11
4               2/3/11
...                ...
9129           2/10/11
9130           2/12/11
9131            2/6/11
9132            2/3/11
9133           2/14/11

[9134 rows x 1 columns]

In [23]:
import datetime

In [33]:
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])
df['Month'] = df['Effective To Date'].dt.month
df['Month/str'] = df['Effective To Date'].dt.strftime('%b')
df['Month/str/full'] = df['Effective To Date'].dt.strftime('%B')
print(df['Month/str'] )

0       Feb
1       Jan
2       Feb
3       Jan
4       Feb
       ...
9129    Feb
9130    Feb
9131    Feb
9132    Feb
9133    Feb
Name: Month/str, Length: 9134, dtype: object